table {
    width: 100%;
  }
  
  .loading-message {
    text-align: center;
    margin-top: 20px;
    font-size: 18px;
  }
  

  .flex {
    display: flex;
    flex-direction: column;
  }

  .table-wrapper {
    flex: .9;
  }

  .search {
    flex: .1;
  }